
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/hpapf.css">
<div id="search-hpapf" class="sosearchpro-wrapper {{ additional_class }} ">

	

		<div class="search input-group form-group">

			<input class="autosearch-input form-control" type="text" value="{{search}}" size="50" autocomplete="off" placeholder="{{ text_search  }}" name="search">
		
			<button type="button" class="button-search btn btn-default btn-lg" name="submit_search"><i class="fa fa-search"></i> {# {{ text_btn_search }} #}</button>
		</div>

</div>